<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="courses">Link</a>
        </li>
        <li class="nav-item dropdown">
            <div class="container">
                <div class="row">
                  <div class="dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                      </a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                      <!-- <li class="dropdown-item"><a href="#">Some action</a></li>
                      <li class="dropdown-item"><a href="#">Some other action</a></li> -->
                      <!-- <li class="dropdown-divider"></li> -->
                      <li class="dropdown-submenu">
                        <a class="dropdown-item" tabindex="-1" href="#">Development</a>
                      <a class="dropdown-item" tabindex="1" href="#">Even More..</a>
                      <a class="dropdown-item" href="#">another level</a>
                        <ul class="dropdown-menu">
                          <li class="dropdown-item">
                              <a tabindex="-1" href="#">Second level</a>
                            </li>
                          <li class="dropdown-submenu">
                            <!-- <a class="dropdown-item" href="#">Even More..</a> -->
                            <ul class="dropdown-menu">
                              <li class="dropdown-item"><a tabindex="-1" href="#">3rd level</a></li>
                              <li class="dropdown-submenu">
                                  <!-- <a class="dropdown-item" href="#">another level</a> -->
                                <ul class="dropdown-menu">
                                  <li class="dropdown-item"><a href="#">4th level</a></li>
                                  <li class="dropdown-item"><a href="#">4th level</a></li>
                                  <li class="dropdown-item"><a href="#">4th level</a></li>
                                </ul>
                              </li>
                              <li class="dropdown-item"><a href="#">3rd level</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-item"><a href="#">Second level</a></li>
                          <li class="dropdown-item"><a href="#">Second level</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link">Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>